<div class="cont-<%= message.user.id %>">
  <div class="message-box msg-<%= message.user.id %> " >
    <div class="inline-block">
      <% unless message.room.is_private %>
        <div class="name font-bold inline-block"><%= message.user.username %>:</div>
      <% end %>
      <div class="inline-block"><%= message.content %></div>
    </div>
  </div>
</div>
